node_modules/
.env
*.log
.DS_Store
database/study_ringkas.sql

# Node/npm related
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/package-lock.json
/yarn.lock

# Editor and OS files
.vscode/
*.bak
*.tmp
*.swp

# Build and cache
dist/
build/
.cache/
